html, body{
    min-height: 100%;
}

#navlayoutPadre{
padding-left: 2rem;
padding-right: 2rem;
}

#navlayout
{
    display: inline-flex;
    align-items: flex-end;
}

#navlayout div{
    margin-left: 2rem;
}

#navlayout div img{
    width: 40px;
}

#subnav{
    background: #000;
}

#subnav a{
    color:white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: medium;
}

#divhistorias{
    margin-top: 1rem;
    margin-left: -2rem;
    margin-bottom: 2rem;
}

.scrollHorizontal{
    width: auto;
	overflow:auto;
	padding: 8px;
}

.scrollVertical{
    height: 500px;
	width: 100%;
	overflow: auto;
	padding: 8px;
}

.bloqueHis{
    width: 190%;
}

.Historia{
    display:inline-flex;
    box-shadow: 5px 5px 10px;   
    position: relative;
    background: #666;
    margin: 8px;
    width: 248px;
    height: 318px;
    border-radius: 10px;
}

#DivNoticiaGrande{
    width: 100%;
    box-shadow: 2px 2px 10px;
    height: 26rem;
    border-radius: 10px;
}

#OtrasNoticiaGrande{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#OtrasimagenesNoticias{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#Otrostitulos{
    color: white;
    font-size: large;
    margin-top: 1rem;
    padding-left: 1rem;
}

#DivNoticiaPeq{
    display:inline-block;
    background:#666;
    width: 100%;
    height: 12rem;
    margin: 8px;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}

#noticiaHor{
    background: #E29F9F;
    width: 100%;
    display: inline-block;
    height: 8.5rem;
    margin: 0;
    padding: 0;
}

#description{
    border-radius: 0px 50px 50px 0px;
    background: #A3A3A3;
    width:fit-content;
    padding-right: 1rem;
    height: fit-content;
    margin-bottom: 1rem;
}

#tipo{
    padding: 5px;
    border-radius: 0px 50px 0px 50px;
    background: rosybrown;
    width:100px;  
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
}

.VideoLive{
    margin: 2rem;
}

.divOcultar{
    display: none;
    opacity: 0;
    overflow: hidden;
}

#DivRegister{
    background: #F5F2F2;
    height:fit-content;
    padding-top: 2rem;
}

#DivLogIn{
    background: #F5F2F2;
    height: 100%;
}

#columnaLogin{
    height: 100vh;
    padding:0;
    display: table;
}

#columnaLogin div{
    display: table-cell;
    vertical-align: middle;
}

#botonSiFondo{
    margin-top: 2rem;
    background: none;
    border-style: hidden;
    border-radius: 180px;
    height:3rem;
}

#inputLogin{
    border: solid 1px #666;
    width: 60%;
    height: 45px;
    border-radius: 180px;
    margin-top: 2rem;
}

#imagenesNoticias{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#titulos{
    color: white;
    background:rgba(0, 0, 0, .8);
    padding-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0px;
}

#descripcion{
    color: white;
    background:rgba(99, 96, 95, .8);
    padding-left: 1rem;
    margin-right: 1rem;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 60px;
    line-height: 40px;
    padding: 10px;
    cursor: pointer;
}

.search-input{
    outline: none;
    border: none;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.7s ease; 
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px;
    border-radius: 50%;
    float: right;
    transition: 0.4s ease;
}

.search-box:hover > .search-input,.search-input:focus{
    width: 240px;
    margin: 0px 8px;
}

.search-box:hover > .search-btn, .search-input:focus + .search-btn {
    background: #cecaca;
    color: #000;
}

#spinner{
    width: 70px;
    height: 70px;
    border: 10px solid #CCCC;
    border-top: 10px solid red;
    border-radius: 100px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}