<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-light bg-light">
            <div id="navlayoutPadre" class="container-fluid">
                <div>
                    <a class="navbar-brand" href="home.html">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650650639/left_eln8c6.png"
                            alt="iconoNOWW.png" width="32" height="32" class="d-inline-block align-text-top">
                        Regresar
                    </a>
                    <a class="navbar-brand" href="home.html">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="40" height="32" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div id="navlayout">
                    <div>
                        <a href="live.html" class="navbar-brand">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                alt="live.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div class="search-box">
                        <input type="text" placeholder="Búsqueda" class="search-input" />
                        <a href="#" class="search-btn"><span style="color: black; font-size:large"
                                class="fas fa-search"></span></a>
                    </div>
                    <div>
                        <a href="cuenta.html">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                alt="Usuario.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                alt="Settings.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="categoria.html">Clima</a>
                <a class="navbar-brand" href="categoria.html">Cultura</a>
                <a class="navbar-brand" href="categoria.html">Deporte</a>
                <a class="navbar-brand" href="categoria.html">Entretenimiento</a>
                <a class="navbar-brand" href="categoria.html">Moda</a>
                <a class="navbar-brand" href="categoria.html">Mundo</a>
                <a class="navbar-brand" href="categoria.html">Música</a>
                <a class="navbar-brand" href="categoria.html">Política</a>
                <a class="navbar-brand" href="categoria.html">Salud</a>
                <a class="navbar-brand" href="categoria.html">Tecnología</a>
                <a class="navbar-brand" href="categoria.html">Viajes</a>
                <a class="navbar-brand" href="categoria.html">Videos</a>
            </div>
        </nav>
    </header>
    <main style="margin: 2rem;">
        <h3>Categoria</h3>
        <div>
            <a href="noticia.html"><img src="https://res.cloudinary.com/drdadalne/image/upload/v1652119970/_124629569_ukr.jpg_bcgpi4.webp" alt="" style="background: #d3d3d3;" width="800" height="400"></a>
            <div style="background: red; width: fit-content;">
                <p>Hace 10 horas</p>
            </div>
            <h4>Por qué Ucrania no reconoce ni niega su responsabilidad en los aparentes ataques</h4>
        </div>
        <hr>
        <div class="row" style="display: inline-flexbox;">
            <div class="col-4">
                <a href="noticia.html"><img src="https://res.cloudinary.com/drdadalne/image/upload/v1652117444/_124646654_red3.jpg_h6jr6r.webp" alt="" style="background: #d3d3d3;" width="400" height="300"></a>
                <div style="background: red; width: fit-content;">
                    <p>Hace 10 horas</p>
                </div>
                <h4>RUSIA LLEVA FUERZAS A MARIUPOL ANTES DEL DESFILE DEL 'DÍA DE LA VICTORIA', LOS FUNCIONARIOS TRABAJAN PARA RESCATE A LAS TROPAS ATRAPADAS</h4>
            </div>
            <div class="col-4">
                <a href="noticia.html"><img src="https://res.cloudinary.com/drdadalne/image/upload/v1652117149/_124622711_putin_getty976.jpg_kcgcdv.webp" alt="" style="background: #d3d3d3;" width="400" height="300"></a>
                <div style="background: red; width: fit-content;">
                    <p>Hace 10 horas</p>
                </div>
                <h4>El destino de las tropas ucranianas atrincheradas en los túneles de la planta sigue sin estar claro</h4>
            </div>
        </div>
        <hr>
        <div>
            <h5>Más Artículos</h5>
            <div style="margin-top:1rem;" class="row">
                <div class="col-4">
                    <a href="noticia.html"><img style="background: #d3d3d3;" width="400" height="300" src="https://res.cloudinary.com/drdadalne/image/upload/v1652160562/Mariupol_ypeeqd.webp" alt=""></a>
                </div>
                <div class="col">
                    <h4>Las mujeres pasan frente a un edificio de apartamentos destruido en Mariupol</h4>
                    <p style="margin-top: 2rem;">Ucrania y funcionarios internacionales instaron durante semanas a Rusia a detener su constante campaña de bombardeos sobre la ya pulverizada planta para permitir que se lleven a cabo las evacuaciones humanitarias.</p>
                    <center>
                        <p>Hace 10 horas</p>
                    </center>
                </div>
            </div>
            <hr>
            <div style="margin-top:1rem;" class="row">
                <div class="col-4">
                    <a href="noticia.html"><img style="background: #d3d3d3;" width="400" height="300" src="https://res.cloudinary.com/drdadalne/image/upload/v1652160817/AP22125560305992_epqhlj.webp" alt=""></a>
                </div>
                <div class="col">
                    <h4>Servicio de prensa del Ministerio del Interior de la República, el humo se eleva desde el combinado metalúrgico Azovstal en Mariupol.</h4>
                    <p style="margin-top: 2rem;">A los funcionarios les preocupa que las fuerzas rusas puedan eliminar el último reducto ucraniano en Mariupol mientras buscan poner fin a la resistencia en la ciudad portuaria a tiempo para el desfile del "Día de la Victoria" del presidente ruso Vladimir Putin el 9 de mayo.</p>
                    <center>
                        <p>Hace 10 horas</p>
                    </center>
                </div>
            </div>
            <center style="margin-top: 2rem;">
                <div id="spinner"></div>
            </center>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>