<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-light bg-light">
            <div id="navlayoutPadre" class="container-fluid">
                <div>
                    <a class="navbar-brand" href="home.html">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650650639/left_eln8c6.png"
                            alt="iconoNOWW.png" width="32" height="32" class="d-inline-block align-text-top">
                        Regresar
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="40" height="32" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div id="navlayout">
                    <div>
                        <a href="live.html" class="navbar-brand">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                alt="live.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/search_p7ad6y.png"
                                alt="search.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a href="cuenta.html">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                alt="Usuario.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                alt="Settings.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="categoria.html">Clima</a>
                <a class="navbar-brand" href="categoria.html">Cultura</a>
                <a class="navbar-brand" href="categoria.html">Deporte</a>
                <a class="navbar-brand" href="categoria.html">Entretenimiento</a>
                <a class="navbar-brand" href="categoria.html">Moda</a>
                <a class="navbar-brand" href="categoria.html">Mundo</a>
                <a class="navbar-brand" href="categoria.html">Música</a>
                <a class="navbar-brand" href="categoria.html">Política</a>
                <a class="navbar-brand" href="categoria.html">Salud</a>
                <a class="navbar-brand" href="categoria.html">Tecnología</a>
                <a class="navbar-brand" href="categoria.html">Viajes</a>
                <a class="navbar-brand" href="categoria.html">Videos</a>
            </div>
        </nav>
    </header>
    <main style="margin: 2rem;">
        <h3>Categoria</h3>
        <div>
            <img src="" alt="" style="background: #d3d3d3;" width="800" height="400">
            <div style="background: red; width: fit-content;">
                <p>Hace 10 horas</p>
            </div>
            <h4>Title</h4>
        </div>
        <hr>
        <div class="row" style="display: inline-flexbox;">
            <div class="col-4">
                <img src="" alt="" style="background: #d3d3d3;" width="400" height="300">
                <div style="background: red; width: fit-content;">
                    <p>Hace 10 horas</p>
                </div>
                <h4>Title</h4>
            </div>
            <div class="col">
                <img src="" alt="" style="background: #d3d3d3;" width="400" height="300">
                <div style="background: red; width: fit-content;">
                    <p>Hace 10 horas</p>
                </div>
                <h4>Title</h4>
            </div>
        </div>
        <hr>
        <div>
            <h5>Más Artículos</h5>
            <div style="margin-top:1rem;" class="row">
                <div class="col-4">
                    <img style="background: #d3d3d3;" width="400" height="300" src="" alt="">
                </div>
                <div class="col">
                    <h4>title</h4>
                    <p style="margin-top: 2rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ea autem commodi voluptatem, exercitationem, dicta asperiores iusto non est odio ullam saepe vel nisi rem et accusantium recusandae libero dolorem.</p>
                    <center><p>Hace 10 horas</p></center>
                </div>
            </div>
            <hr>
            <div style="margin-top:1rem;" class="row">
                <div class="col-4">
                    <img style="background: #d3d3d3;" width="400" height="300" src="" alt="">
                </div>
                <div class="col">
                    <h4>title</h4>
                    <p style="margin-top: 2rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident ea autem commodi voluptatem, exercitationem, dicta asperiores iusto non est odio ullam saepe vel nisi rem et accusantium recusandae libero dolorem.</p>
                    <center><p>Hace 10 horas</p></center>
                </div>
            </div>
            <center style="margin-top: 2rem;"><img src="https://res.cloudinary.com/drdadalne/image/upload/v1650650409/loading_qpngrd.png" alt=""></center>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>