<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body style="height: 100vh;">
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-between">
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="40" height="32" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
                    <div class="navbar-nav" id="navlayout">
                        <div class="nav-item">
                            <a href="live.html" class="navbar-brand">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                    alt="live.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="search-box nav-item">
                            <input type="text" placeholder="Búsqueda" class="search-input" />
                            <a href="#" class="search-btn"><span style="color: black; font-size:large"
                                    class="fas fa-search"></span></a>
                        </div>
                        <div class="nav-item">
                            <a href="cuenta.html">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                    alt="Usuario.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="nav-item">
                            <button style="background: transparent; border-style:none" data-bs-toggle="dropdown">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                    alt="Settings.png" class="d-inline-block align-text-top">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-language"></i>Idioma</h6>
                                </li>
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-moon-over-sun"></i>Modo: Claro
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="categoria.html">Clima</a>
                <a class="navbar-brand" href="categoria.html">Cultura</a>
                <a class="navbar-brand" href="categoria.html">Deporte</a>
                <a class="navbar-brand" href="categoria.html">Entretenimiento</a>
                <a class="navbar-brand" href="categoria.html">Moda</a>
                <a class="navbar-brand" href="categoria.html">Mundo</a>
                <a class="navbar-brand" href="categoria.html">Música</a>
                <a class="navbar-brand" href="categoria.html">Política</a>
                <a class="navbar-brand" href="categoria.html">Salud</a>
                <a class="navbar-brand" href="categoria.html">Tecnología</a>
                <a class="navbar-brand" href="categoria.html">Viajes</a>
                <a class="navbar-brand" href="categoria.html">Videos</a>
            </div>
        </nav>
    </header>
    <main style="height: 100%;">
        <div id="DivLogIn">
            <div style="margin: 0;" class="row">
                <div id="columnaLogin" class="col-sm-3">
                    <div class="text-center">
                        <img width="250"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1651901994/businessman_xurj7v.png"
                            class="rounded" alt="FotoUsuario.png">
                    </div>
                </div>
                <div id="columnaLogin" class="col-sm-4">
                    <div class="text-center">
                        <button style="background:#344C9F;color:white;" type="button" id="botonSiFondo">
                            <div style="display:block; justify-self:save; justify-content: space-between;">
                                <div><img style="font-size: xx-large; margin-right: 1rem; margin-left: 1rem;"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1651903934/facebook_sazaf4.png"
                                        alt="Facebook.png"></div>
                                <div><strong><label style="margin-right: 2rem;">Continuar con Facebook</label></strong>
                                </div>
                            </div>
                        </button>
                        <button style="background: white; color: black;" type="button" id="botonSiFondo">
                            <div style="display:block; justify-self:save; justify-content: space-between;">
                                <div><img style="font-size: xx-large; margin-right: 1rem; margin-left: 1rem;"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1651903779/google_j8askp.png"
                                        alt="Google.png"></div>
                                <div>
                                    <strong><label style="margin-right: 2rem;">Continuar con Google</label></strong>
                                </div>
                            </div>
                        </button>
                        <div class="text-start">
                            <strong><label class="text-start" id="botonSiFondo">Aún no tienes cuenta?</label></strong>
                        </div>
                        <button onclick="registrar()"
                            style="background: #DDB2B2; color: black;margin-top: -1rem;width: 60%;" type="button"
                            id="botonSiFondo">
                            <strong style=" margin-right: 2rem; margin-left: 2rem;">Registrar</strong>
                        </button>
                    </div>
                </div>
                <div id="columnaLogin" class="col-sm-1">
                    <div class="text-center">
                        <h5>o</h5>
                    </div>
                </div>
                <div id="columnaLogin" class="col-sm-4">
                    <div class="text-center">
                        <form action="" method="POST">
                            <input type="text" id="inputLogin" placeholder="Usuario" required>
                            <input type="text" id="inputLogin" placeholder="Contraseña" required>
                            <br>
                            <button class="btnIngresaLogin" id="inputLogin"
                                type="submit"><strong>Ingresar</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="DivRegister" class="divOcultar">
            <div style="margin: 0;" class="row">
                <div style="padding: 2rem;" class="col-sm-3">
                    <div class="text-center">
                        <img width="250"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1651901994/businessman_xurj7v.png"
                            class="rounded" alt="FotoUsuario.png">
                    </div>
                </div>
                <div class="col-sm">
                    <div style="margin-left: 3rem;">
                        <button style="background:#344C9F;color:white;" type="button" id="botonSiFondo">
                            <div style="display:inline-flex; justify-self:save; justify-content: space-between;">
                                <div><img style="font-size: xx-large; margin-right: 1rem; margin-left: 1rem;"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1651903934/facebook_sazaf4.png"
                                        alt="Facebook.png"></div>
                                <div><strong><label style="margin-right: 2rem;">Registrarse con
                                            Facebook</label></strong>
                                </div>
                            </div>
                        </button><br>
                        <button style="background: white; color: black;" type="button" id="botonSiFondo">
                            <div style="display:inline-flex; justify-self:save; justify-content: space-between;">
                                <div><img style="font-size: xx-large; margin-right: 1rem; margin-left: 1rem;"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1651903779/google_j8askp.png"
                                        alt="Google.png"></div>
                                <div>
                                    <strong><label style="margin-right: 2rem;">Registrarse con Google</label></strong>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-left: 3rem;">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="">Ingresa tus nombres</label><br>
                            <input style="margin-top:1rem; width: 50%;" id="inputLogin" type="text"><br>
                            <label for="">Apellidos</label><br>
                            <input style="margin-top:1rem; width: 50%;" id="inputLogin" type="text"><br>
                            <label for="">Correo</label><br>
                            <input style="margin-top:1rem;width: 50%;" id="inputLogin" type="text"><br>
                            <label for="">¿Cuál es tu fecha de nacimiento?</label><br>
                            <input style="margin-top:1rem;width: 50%;" id="inputLogin" type="date"><br>
                        </div>
                        <div class="col-sm">
                            <label for="">¿Cuál es tu sexo?</label><br>
                            <div style="display: inline;">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo" id="exampleRadios1"
                                        value="Hombre">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Hombre
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sexo" id="exampleRadios2"
                                        value="Mujer">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Mujer
                                    </label>
                                </div>
                            </div>
                            <div style="margin-top: 2rem" class="form-check">
                                <input class="form-check-input" type="radio" name="acepta" id="exampleRadios2"
                                    value="Mujer">
                                <label class="form-check-label" for="exampleRadios2">
                                    He leído y acepto los <a href="#">términos y condiciones.</a>
                                </label>
                            </div>
                            <button style="background: #DDB2B2; color: black;margin-top: 2rem;width: 60%; margin-bottom: 2rem;" type="button"
                                id="botonSiFondo">
                                <strong style=" margin-right: 2rem; margin-left: 2rem;">Registrar</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--Mostrar cuenta si hay una session en el navegador-->
        <div id="cuenta" class="divOcultar">
            Aqui se mostrara la cuenta
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../Static/js/code.js"></script>
</body>

</html>