<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-light bg-light">
            <div id="navlayoutPadre" class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="30" height="24" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div id="navlayout">
                    <div>
                        <a href="/live" class="navbar-brand">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                alt="live.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/search_p7ad6y.png"
                                alt="search.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a href="/cuenta">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                alt="Usuario.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                alt="Settings.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand">Clima</a>
                <a class="navbar-brand">Cultura</a>
                <a class="navbar-brand">Deporte</a>
                <a class="navbar-brand">Entretenimiento</a>
                <a class="navbar-brand">Moda</a>
                <a class="navbar-brand">Mundo</a>
                <a class="navbar-brand">Música</a>
                <a class="navbar-brand">Política</a>
                <a class="navbar-brand">Salud</a>
                <a class="navbar-brand">Tecnología</a>
                <a class="navbar-brand">Viajes</a>
                <a class="navbar-brand">Videos</a>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="row" style="margin-top: 1rem;">
            <div class="col-7">
                <h4>Bienvenido a NoticiasMundiales.com</h4>
            </div>
            <div class="col" style="text-align: right;">
                <h5>Martes 22 de marzo, 2022</h5>
            </div>
        </div>
        <!--Bloque de las historias destacadas-->
        <div id="divhistorias">
            <h6>Nuestras noticias destacadas</h6>
            <div class="scrollHorizontal">
                <div class="bloqueHis">
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                    <div class="Historia">
                        <!--<img src="" alt="">-->
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de las noticias de ultimo minutos-->
        <div id="divhistorias">
            <h6>En los últimos minutos:</h6>
            <div class="row">
                <div class="col-6">
                    <div id="DivNoticiaGrande">
                        <p>title</p>
                        <p>Description</p>
                        <!--<img src="" alt="">-->
                    </div>
                </div>
                <div style="margin: 0;" class="col-6">
                    <div class="row">
                        <div class="col">
                            <div id="DivNoticiaPeq">
                                <p>title</p>
                                <!--<img src="" alt="">-->
                            </div>
                            <div id="DivNoticiaPeq">
                                <p>title</p>
                                <!--<img src="" alt="">-->
                            </div>
                        </div>
                        <div class="col">
                            <div id="DivNoticiaPeq">
                                <p>title</p>
                                <!--<img src="" alt="">-->
                            </div>
                            <div id="DivNoticiaPeq">
                                <p>title</p>
                                <!--<img src="" alt="">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <h6>Más noticias:</h6>
            <div class="row">
                <div class="col-6" style="padding: 0;">
                    <div id="DivNoticiaGrande">
                        <p id="tipo">Texto</p>
                        <p>Texto</p>
                        <!--<img src="" alt="">-->
                    </div>
                </div>
                <div style="padding:0;" class="col-6">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <h6>Más noticias:</h6>
            <div class="row">
                <div class="col-6" style="padding: 0;">
                    <div id="DivNoticiaGrande">
                        <p id="tipo">Texto</p>
                        <p>Texto</p>
                        <!--<img src="" alt="">-->
                    </div>
                </div>
                <div style="padding:0;" class="col-6">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <h6>Más noticias:</h6>
            <div class="row">
                <div class="col-6" style="padding: 0;">
                    <div id="DivNoticiaGrande">
                        <p id="tipo">Texto</p>
                        <p>Texto</p>
                        <!--<img src="" alt="">-->
                    </div>
                </div>
                <div style="padding:0;" class="col-6">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col">
                            <div id="noticiaHor">
                                <p>tittle</p>
                                <div id="description">
                                    <p>description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>