<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-between">
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="40" height="32" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
                    <div class="navbar-nav" id="navlayout">
                        <div class="nav-item">
                            <a href="live.html" class="navbar-brand">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                    alt="live.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="search-box nav-item">
                            <input type="text" placeholder="Búsqueda" class="search-input" />
                            <a href="#" class="search-btn"><span style="color: black; font-size:large"
                                    class="fas fa-search"></span></a>
                        </div>
                        <div class="nav-item">
                            <a href="cuenta.html">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                    alt="Usuario.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="nav-item">
                            <button style="background: transparent; border-style:none" class="dropdown-toogle" aria-expanded="false" data-bs-toggle="dropdown">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                    alt="Settings.png" class="d-inline-block align-text-top">
                            </button>
                            <ul style="position: absolute; transform: translate(0px, 50px);" class="dropdown-menu-end dropdown-menu">
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-language"></i>Idioma</h6>
                                </li>
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-moon-over-sun"></i>Modo: Claro
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavb" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i style="color: white;" class="fa-solid fa-bars"></i>
                </button>                
                <div style="position:static;" class="collapse navbar-collapse" id="navbarNavb">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Cultura</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Clima</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Deporte</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Entretenimiento</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Moda</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Mundo</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Música</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Política</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Salud</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Tecnología</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Viajes</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Videos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="row" style="margin-top: 1rem;">
            <div class="col-sm-7">
                <h4>Bienvenido a NoticiasMundiales.com</h4>
            </div>
            <div class="col-sm" style="text-align: right;">
                <h5 id="FullDay"></h5>
            </div>
        </div>
        <!--Bloque de las historias destacadas-->
        <div id="divhistorias">
            <h6>Nuestras noticias destacadas</h6>
            <div class="scrollHorizontal">
                <div class="bloqueHis">
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="Vladimir putin(title)"
                            data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117149/_124622711_putin_getty976.jpg_kcgcdv.webp">
                            <img id="imagenesHistoria"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652117149/_124622711_putin_getty976.jpg_kcgcdv.webp"
                                alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            data-bs-whatever="Tanques rusos(tittle)"
                            data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117444/_124646654_red3.jpg_h6jr6r.webp">
                            <img id="imagenesHistoria"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652117444/_124646654_red3.jpg_h6jr6r.webp"
                                alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Cantantes nicaraguense(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_107142654_61e931be-3194-40f5-8567-16f4bbe4e837.jpg_mbqdb0.webp">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_107142654_61e931be-3194-40f5-8567-16f4bbe4e837.jpg_mbqdb0.webp"
                            alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Pastillas(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_123017683_gettyimages-1133641629.jpg_xucaq6.webp ">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_123017683_gettyimages-1133641629.jpg_xucaq6.webp "
                            alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Basura(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_121125261_gettyimages-1174397071.jpg_d39xti.webp">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_121125261_gettyimages-1174397071.jpg_d39xti.webp "
                            alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Universo(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_124433183_f5b392bf-a1d5-4df1-bcfe-374199c6c409.jpg_pviuxh.webp   ">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_124433183_f5b392bf-a1d5-4df1-bcfe-374199c6c409.jpg_pviuxh.webp   "
                            alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Bill Gates(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_112712419_bill.jpg_gri6mo.webp">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_112712419_bill.jpg_gri6mo.webp"
                            alt="">
                        </button>
                    </div>
                    <div class="Historia">
                        <button class="btnimagen" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-bs-whatever="Puente(Tittle)"
                        data-foto="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_124367074_croatiabridge2.jpg_o0pszg.webp">
                            <img id="imagenesHistoria"
                            src="https://res.cloudinary.com/drdadalne/image/upload/v1652117689/_124367074_croatiabridge2.jpg_o0pszg.webp"
                            alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de las historias -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-end">
                            <img class="img-fluid" id="rutaImagen" src="" alt="">
                            <a class="justify-content-end"
                                style="position: absolute; font-size:xx-large; color:black; font-weight:700;bottom:45%; right:5%;"
                                href="#"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a style="position: absolute; font-size:xx-large; color:red; font-weight:700;bottom:10%;"
                                href="noticia.html" data-bs-dismiss="modal"><i class="fa-solid fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bloque de las noticias de ultimo minutos-->
        <div id="divhistorias">
            <h6>En los últimos minutos:</h6>
            <div class="row">
                <div class="col-sm-6">
                    <div class="position-relative" id="DivNoticiaGrande">
                        <div class="position-absolute bottom-0 start-0">
                            <strong>
                                <p id="titulos">El número real de muertes por la pandemia en todo el mundo es de casi 15
                                    millones</p>
                            </strong>
                            <i>
                                <p id="descripcion">Los expertos de la organización estiman que 14,9 millones de muertes
                                    pueden asociarse a la pandemia, un total que incluye los 6,2 millones de decesos por
                                    covid notificados oficialmente a la OMS</p>
                            </i>
                        </div>
                        <a href="noticia.html"><img
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652116093/_124430550_554e8d40-a7f9-4752-8452-6ddbc19ce212_g9k1v2.jpg"
                                id="imagenesNoticias" alt="FotoNoticia.png"></a>
                    </div>
                </div>
                <div id="divhistorias" style="margin: 0;" class="col-sm-6">
                    <div class="row">
                        <div class="col-sm">
                            <div class="position-relative" id="DivNoticiaPeq">
                                <a href="noticia.html"><img id="imagenesNoticias"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1652119837/_124311631_abinader2.jpg_itlavg.webp"
                                        alt=""></a>
                                <div class="position-absolute bottom-0 start-0">
                                    <strong>
                                        <p style="font-size: small; margin-bottom:1rem;" id="titulos">El polémico muro
                                            con el que República Dominicana quiere dividir la isla que comparte con
                                            Haití.</p>
                                    </strong>
                                </div>
                            </div>
                            <div class="position-relative" id="DivNoticiaPeq">
                                <a href="noticia.html"><img id="imagenesNoticias"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1652119970/_124629569_ukr.jpg_bcgpi4.webp"
                                        alt=""></a>
                                <div class="position-absolute bottom-0 start-0">
                                    <strong>
                                        <p style="font-size: small; margin-bottom:1rem;" id="titulos">Por qué Ucrania no
                                            reconoce ni niega su responsabilidad en los aparentes ataques.</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="position-relative" id="DivNoticiaPeq">
                                <a href="noticia.html"><img id="imagenesNoticias"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1652120034/_124601186_hotel.jpg_dg1ju5.webp"
                                        alt=""></a>
                                <div class="position-absolute bottom-0 start-0">
                                    <strong>
                                        <p style="font-size: small; margin-bottom:1rem;" id="titulos">Hotel Saratoga de
                                            La Habana: al menos 27 muertos y más de 70 heridos.</p>
                                    </strong>
                                </div>
                            </div>
                            <div class="position-relative" id="DivNoticiaPeq">
                                <a href="noticia.html"><img id="imagenesNoticias"
                                        src="https://res.cloudinary.com/drdadalne/image/upload/v1652120089/_124604531_gettyimages-1240467958.jpg_srumsa.webp"
                                        alt=""></a>
                                <div class="position-absolute bottom-0 start-0">
                                    <strong>
                                        <p style="font-size: small; margin-bottom:1rem;" id="titulos">Amber Heard vs.
                                            Johnny Depp | "Me pateó en la espalda y caí al suelo. Nadie hizo nada"</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <h6>Más noticias:</h6>
            <div class="row">
                <div class="col-sm-6" style="padding: 0;">
                    <div class="position-relative" id="OtrasNoticiaGrande">
                        <a href="noticia.html"><img id="OtrasimagenesNoticias"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652122125/_124277626_gettyimages-1240218851.jpg_imtkjg.webp"
                                alt=""></a>
                        <div class="position-absolute top-0 start-0">
                            <strong>
                                <p id="tipo">Salud</p>
                            </strong>
                        </div>
                        <div class="position-absolute bottom-0 start-0">
                            <i>
                                <p style="margin-bottom: 1rem;" id="titulos">Los funcionarios de salud hacen sonar la
                                    alarma sobre la nueva subvariante de Omicron</p>
                            </i>
                        </div>
                    </div>
                </div>
                <div style="padding:0;" class="col-sm-6">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a style="text-decoration: none;" href="noticia.html"><strong>
                                        <p id="Otrostitulos">Casi 1.000 civiles muertos en la guerra de Ucrania hasta
                                            ahora</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a style="text-decoration: none;color:black;" href="categoria.html">
                                        <p id="description">Invasión</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticias.html" style="text-decoration: none;"><strong>
                                        <p id="Otrostitulos">China reporta primeras muertes por COVID-19 en más de un
                                            año</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a style="text-decoration:none;color:black;" href="categoria.html">
                                        <p id="description">Covid-19</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a style="text-decoration: none;" href="noticias.html"><strong>
                                        <p id="Otrostitulos">El equinoccio de primavera marca el comienzo de la
                                            primavera</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a style="text-decoration:none;color:black;" href="categoria.html">
                                        <p id="description">Clima</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <div class="row">
                <div class="col-sm-6" style="padding: 0;">
                    <div class="position-relative" id="OtrasNoticiaGrande">
                        <a href="noticia.html"><img id="OtrasimagenesNoticias"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652156193/p03n66tl_px0tiu.jpg"
                                alt=""></a>
                        <div class="position-absolute top-0 start-0">
                            <strong>
                                <p id="tipo">Viajes</p>
                            </strong>
                        </div>
                        <div class="position-absolute bottom-0 start-0">
                            <i>
                                <p style="margin-bottom: 1rem;" id="titulos">Miami Beach impone toque de queda para
                                    hacer frente a las vacaciones de primavera tras tiroteos</p>
                            </i>
                        </div>
                    </div>
                </div>
                <div style="padding:0;" class="col-sm-6">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a style="text-decoration: none;" href="noticia.html"><strong>
                                        <p id="Otrostitulos">¿La comida india más auténtica de Londres?</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a style="color: black; text-decoration: none;" href="categoria.html">
                                        <p id="description">Comida</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticia.html" style="text-decoration:none"><strong>
                                        <p id="Otrostitulos">La rara nueva aventura de esquí de Canadá</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a href="categoria.html" style="color: black; text-decoration: none;">
                                        <p id="description">Eco-turismo</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticia.html" style="text-decoration: none;"><strong>
                                        <p id="Otrostitulos">¿Cómo siguen en pie los monumentos de Roma?</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a href="categoria.html" style="color: black; text-decoration: none;">
                                        <p id="description">Historia</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Bloque de mas noticias-->
        <div id="divhistorias">
            <div class="row">
                <div class="col-sm-6" style="padding: 0;">
                    <div class="position-relative" id="OtrasNoticiaGrande">
                        <a href="noticia.html"><img id="OtrasimagenesNoticias"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1652156610/AP19113591278633_rv3wqh.webp"
                                alt=""></a>
                        <div class="position-absolute top-0 start-0">
                            <strong>
                                <p id="tipo">Mundo</p>
                            </strong>
                        </div>
                        <div class="position-absolute bottom-0 start-0">
                            <i>
                                <p style="margin-bottom: 1rem;" id="titulos">Arabia Saudita emite una dura advertencia
                                    sobre los suministros mundiales de petróleo</p>
                            </i>
                        </div>
                    </div>
                </div>
                <div style="padding:0;" class="col-sm-6">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticia.html" style="text-decoration: none;"><strong>
                                        <p id="Otrostitulos">Shell reconsidera su salida del campo petrolero frente a
                                            las Shetland</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a href="categoria.html" style="text-decoration: none; color: black;">
                                        <p id="description">Negocios</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticia.html" style="text-decoration: none;"><strong>
                                        <p id="Otrostitulos">El sudeste asiático siente un pellizco económico por la
                                            guerra de Ucrania</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a style="text-decoration: none; color: black;" href="categoria.html">
                                        <p id="description">Negocios</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0;">
                    <div class="row">
                        <div class="col-sm">
                            <div id="noticiaHor" class="position-relative">
                                <a href="noticia.html" style="text-decoration:none;"><strong>
                                        <p id="Otrostitulos">Saudi Aramco aumenta la inversión para impulsar la
                                            producción</p>
                                    </strong></a>
                                <div class="position-absolute bottom-0">
                                    <a href="categoria.html" style="text-decoration: none;color:black;">
                                        <p id="description">Negocios</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="../Static/js/code.js"></script>

</html>