<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-light bg-light">
            <div id="navlayoutPadre" class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="30" height="24" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div id="navlayout">
                    <div class="search-box">
                        <input type="text" placeholder="Búsqueda" class="search-input" />
                        <a href="#" class="search-btn"><span style="color: black; font-size:large"
                                class="fas fa-search"></span></a>
                    </div>
                    <div>
                        <a href="cuenta.html">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                alt="Usuario.png" class="d-inline-block align-text-top">
                        </a>
                    </div>
                    <div>
                        <button style="background: transparent; border-style:none" data-bs-toggle="dropdown">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                alt="Settings.png" class="d-inline-block align-text-top">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li style="cursor: pointer;"><h6 class="dropdown-header"><i class="fa-solid fa-language"></i>Idioma</h6></li>
                            <li style="cursor: pointer;"><h6 class="dropdown-header"><i class="fa-solid fa-moon-over-sun"></i>Modo: Claro</h6></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="categoria.html">Clima</a>
                <a class="navbar-brand" href="categoria.html">Cultura</a>
                <a class="navbar-brand" href="categoria.html">Deporte</a>
                <a class="navbar-brand" href="categoria.html">Entretenimiento</a>
                <a class="navbar-brand" href="categoria.html">Moda</a>
                <a class="navbar-brand" href="categoria.html">Mundo</a>
                <a class="navbar-brand" href="categoria.html">Música</a>
                <a class="navbar-brand" href="categoria.html">Política</a>
                <a class="navbar-brand" href="categoria.html">Salud</a>
                <a class="navbar-brand" href="categoria.html">Tecnología</a>
                <a class="navbar-brand" href="categoria.html">Viajes</a>
                <a class="navbar-brand" href="categoria.html">Videos</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="row">
            <div style="padding: 0;" class="col-sm-9">
                <section id="sectionLive" class="container">
                    <div style="margin-top: 1rem;">
                        <a href="home.html"><button class="btn btn-danger"><i
                                    class="fa-solid fa-arrow-left"></i>Regresar</button></a>
                    </div>
                    <div>
                        <iframe class="VideoLive" src="https://www.youtube.com/embed/ceqgwo7U28Y"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <h3>Así es como Biden 'fomenta' el crimen violento: Christie</h3>
                    <p>El exgobernador de Nueva Jersey, Chris Christie, dice que la administración de Biden no ha mostrado
                        interés en frenar los delitos violentos en 'Sunday Night in America'. #FoxNews #Gowdy</p>
                </section>
            </div>
            <div style="padding:0;" class="col-sm">
                <aside>
                    <h3 style="margin-top: 1rem;">Otros videos:</h3>
                    <div style="height: 660px; overflow-y: scroll; overflow-x: hidden;">
                        <center><iframe width="300" height="200" src="https://www.youtube.com/embed/4w3HqzhPR-U"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </center>
                        <center><iframe width="300" height="200" src="https://www.youtube.com/embed/4w3HqzhPR-U"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </center>
                        <center><iframe width="300" height="200" src="https://www.youtube.com/embed/4w3HqzhPR-U"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </center>
                        <center><iframe width="300" height="200" src="https://www.youtube.com/embed/4w3HqzhPR-U"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </center>
                    </div>
                </aside>
            </div>
        </div>
    </main>
</body>

</html>