<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/news-report_vamuss.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../Static/Style/estilos.css">
    <title>NOWW</title>
</head>

<body>
    <header>
        <!--Navbar de titulo, search, cuenta y configuracion-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex justify-content-evenly">
                    <a class="navbar-brand" href="index.html">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650650639/left_eln8c6.png"
                            alt="iconoNOWW.png" width="32" height="32" class="d-inline-block align-text-top">
                        Regresar
                    </a>
                    <a class="navbar-brand" href="#">
                        <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650255318/newspaper_vlgyka.png"
                            alt="iconoNOWW.png" width="40" height="32" class="d-inline-block align-text-top">
                        NOWW
                    </a>
                </div>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
                    <div class="navbar-nav" id="navlayout">
                        <div class="nav-item">
                            <a href="live.html" class="navbar-brand">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/live_jazncv.png"
                                    alt="live.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="search-box nav-item">
                            <input type="text" placeholder="Búsqueda" class="search-input" />
                            <a href="#" class="search-btn"><span style="color: black; font-size:large"
                                    class="fas fa-search"></span></a>
                        </div>
                        <div class="nav-item">
                            <a href="cuenta.html">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/account_ken7li.png"
                                    alt="Usuario.png" class="d-inline-block align-text-top">
                            </a>
                        </div>
                        <div class="nav-item">
                            <button style="background: transparent; border-style:none" class="dropdown-toogle"
                                aria-expanded="false" data-bs-toggle="dropdown">
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1650256106/settings_yvgceh.png"
                                    alt="Settings.png" class="d-inline-block align-text-top">
                            </button>
                            <ul style="position: absolute; transform: translate(0px, 50px);"
                                class="dropdown-menu-end dropdown-menu">
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-language"></i>Idioma</h6>
                                </li>
                                <li style="cursor: pointer;">
                                    <h6 class="dropdown-header"><i class="fa-solid fa-moon-over-sun"></i>Modo: Claro
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--Menu de categorias-->
        <nav id="subnav" class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavb"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i style="color: white;" class="fa-solid fa-bars"></i>
                </button>
                <div style="position:static;" class="collapse navbar-collapse" id="navbarNavb">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Cultura</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Clima</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Deporte</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Entretenimiento</a>
                        </li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Moda</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Mundo</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Música</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Política</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Salud</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Tecnología</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Viajes</a></li>
                        <li class="nav-item"><a class="navbar-brand nav-link" href="categoria.html">Videos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- No se porque me se me quiebra el codigo -->
        <h6 id="FullDay" style="display: none;"></h6>
        <div id="publicarNoticia" style="display: none" ></div>
        <!--Foto de Portada-->
        <div>
            <div id="topNoticia">
                <center>
                    <h3 id="titulos">RUSIA LLEVA FUERZAS A MARIUPOL ANTES DEL DESFILE DEL 'DÍA DE LA VICTORIA', LOS
                        FUNCIONARIOS TRABAJAN PARA RESCATE A LAS TROPAS ATRAPADAS</h3>
                    <i id="descripcion" style="background: rgb(61, 61, 61);">A los funcionarios les preocupa que las
                        fuerzas rusas puedan acabar con el último reducto
                        ucraniano en Mariupol mientras buscan poner fin a la resistencia en la ciudad portuaria a tiempo
                        para el desfile del "Día de la Victoria" del presidente ruso Vladimir Putin el 9 de mayo.
                        Evacuaciones civiles negociadas por las Naciones Unidas y el Comité Internacional de la Cruz
                        Roja comenzó la semana pasada a sacar a unas 200 personas escondidas en los túneles.</i>
                    <p>Ultima fecha de actualizacion</p>
                </center>
            </div>
            <div>
                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1652117444/_124646654_red3.jpg_h6jr6r.webp"
                    style="position:relative;z-index: 0;opacity: .6;" width="100%" height="450" alt="">
            </div>
        </div>
        <br>
        <hr>
        <div>
            <div class="row" style="width: 100%;">
                <div class="col-sm-6">
                    <div style="border:1px solid #000; margin: 1rem;">
                        <h3>Acontecimientos:&nbsp<i id="addAcontecimiento" style="cursor: pointer;" class="fa-solid fa-circle-plus divOcultar"></i></h3>
                        <ol>
                            <li>Ucrania y funcionarios internacionales instaron durante semanas a Rusia a detener su
                                constante campaña de bombardeos sobre la ya pulverizada planta para permitir que se
                                lleven a cabo las evacuaciones humanitarias.</li>
                            <li>Los soldados ucranianos se negaron a rendirse a las fuerzas rusas e instaron al
                                presidente Volodymyr Zelenskyy a elaborar un plan de evacuación para ellos.</li>
                            <li>A los funcionarios les preocupa que las fuerzas rusas puedan eliminar el último reducto
                                ucraniano en Mariupol mientras buscan poner fin a la resistencia en la ciudad portuaria
                                a tiempo para el desfile del "Día de la Victoria" del presidente ruso Vladimir Putin el
                                9 de mayo.</li>
                            <li>Las evacuaciones civiles negociadas por las Naciones Unidas y el Comité Internacional de
                                la Cruz Roja comenzaron la semana pasada para sacar a unas 200 personas escondidas en
                                los túneles.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm">
                    <div id="numeroPost" class="d-flex justify-content-between row">
                        <div class="col-sm-2">
                            <h6>4 post</h6>
                        </div>
                        <div id="seeBtnPost" class="col-sm-5 divOcultar">
                            <div style="display: inline-flex;">
                                <button class="btn btn-secondary" type="button" id="btnAddPost" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i>
                                    Agrega una publicación</button>
                            </div>
                        </div>
                        <div class="col-sm d-flex justify-content-end">
                            <div style="display: inline-flex;">
                                <p>ordenar por</p>
                                <select style="margin-bottom: 16px;" name="" id="">
                                    <option value="">Mas reciente</option>
                                    <option value="">Mas antiguo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de los post -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 id="exampleModalLabel">Añade una publicación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm">
                                            <form>
                                                <div style="padding: 1rem;" class="mb-3 row">
                                                    <label for="inputPassword"
                                                        class="col-sm-2 col-form-label">Título:</label>
                                                    <div class="col-sm">
                                                        <input type="text" class="form-control" id="inputPassword"
                                                            required autocomplete="off">
                                                    </div>
                                                </div>
                                                <div style="padding: 1rem;" class="mb-3 row">
                                                    <label for="inputPassword"
                                                        class="col-sm-2 col-form-label">Descripción:</label>
                                                    <div class="col-sm">
                                                        <textarea style="resize:both;width: 100%;" autocomplete="off" required></textarea>
                                                    </div>
                                                </div>
                                                <div style="padding: 1rem;" class="mb-3 row">
                                                    <label for="inputPassword"
                                                        class="col-sm-2 col-form-label">Foto:</label>
                                                    <div class="col-sm">
                                                        <input type="file" class="form-control" id="inputPassword"
                                                            required>
                                                    </div>
                                                </div>
                                                <div style="padding-bottom: 1rem;" class="text-center">
                                                    <button class="btn btn-warning" type="button">Agregar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 1rem;" class="scrollVertical">
                        <div style="margin-top: 1rem;">
                            <p>Hace 1 minuto</p>
                            <center>
                                tittle
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1652117444/_124646654_red3.jpg_h6jr6r.webp"
                                    style="background: #d3d3d3;" width="100%" height="250" alt="">
                            </center>
                            <div style="border-bottom: 4px solid red;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quaerat consequuntur
                                    nisi consectetur. Obcaecati, cumque reprehenderit earum laborum odit voluptate
                                    cupiditate sapiente ipsum nulla, ad dolorum consequuntur voluptatum ratione
                                    doloremque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ipsam deleniti,
                                    architecto quia vel itaque illum. Mollitia velit totam cupiditate facilis, ratione
                                    amet animi, voluptates, exercitationem quaerat temporibus alias? Quidem! Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Hic dignissimos perferendis a facere.
                                    Error, libero. Exercitationem molestiae commodi laborum nihil, magnam mollitia ex
                                    dolorum quos. Nostrum tenetur magni sit modi?</p>
                                <div style="text-align: right; margin-bottom: 1rem;">
                                    <i style="font-size: xx-large;" class="fa-solid fa-share-nodes"></i>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <p>Hace 1 minuto</p>
                            <center>
                                tittle
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1652119970/_124629569_ukr.jpg_bcgpi4.webp"
                                    width="100%" height="250" alt="">
                            </center>
                            <div style="border-bottom: 4px solid red;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quaerat consequuntur
                                    nisi consectetur. Obcaecati, cumque reprehenderit earum laborum odit voluptate
                                    cupiditate sapiente ipsum nulla, ad dolorum consequuntur voluptatum ratione
                                    doloremque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ipsam deleniti,
                                    architecto quia vel itaque illum. Mollitia velit totam cupiditate facilis, ratione
                                    amet animi, voluptates, exercitationem quaerat temporibus alias? Quidem! Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Hic dignissimos perferendis a facere.
                                    Error, libero. Exercitationem molestiae commodi laborum nihil, magnam mollitia ex
                                    dolorum quos. Nostrum tenetur magni sit modi?</p>
                                <div style="text-align: right; margin-bottom: 1rem;">
                                    <i style="font-size: xx-large;" class="fa-solid fa-share-nodes"></i>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <p>Hace 1 minuto</p>
                            <center>
                                tittle
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1652120034/_124601186_hotel.jpg_dg1ju5.webp"
                                    style="background: #d3d3d3;" width="100%" height="250" alt="">
                            </center>
                            <div style="border-bottom: 4px solid red;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quaerat consequuntur
                                    nisi consectetur. Obcaecati, cumque reprehenderit earum laborum odit voluptate
                                    cupiditate sapiente ipsum nulla, ad dolorum consequuntur voluptatum ratione
                                    doloremque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ipsam deleniti,
                                    architecto quia vel itaque illum. Mollitia velit totam cupiditate facilis, ratione
                                    amet animi, voluptates, exercitationem quaerat temporibus alias? Quidem! Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Hic dignissimos perferendis a facere.
                                    Error, libero. Exercitationem molestiae commodi laborum nihil, magnam mollitia ex
                                    dolorum quos. Nostrum tenetur magni sit modi?</p>
                                <div style="text-align: right; margin-bottom: 1rem;">
                                    <i style="font-size: xx-large;" class="fa-solid fa-share-nodes"></i>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <p>Hace 1 minuto</p>
                            <center>
                                tittle
                                <img src="https://res.cloudinary.com/drdadalne/image/upload/v1652160562/Mariupol_ypeeqd.webp"
                                    style="background: #d3d3d3;" width="100%" height="250" alt="">
                            </center>
                            <div style="border-bottom: 4px solid red;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quaerat consequuntur
                                    nisi consectetur. Obcaecati, cumque reprehenderit earum laborum odit voluptate
                                    cupiditate sapiente ipsum nulla, ad dolorum consequuntur voluptatum ratione
                                    doloremque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ipsam deleniti,
                                    architecto quia vel itaque illum. Mollitia velit totam cupiditate facilis, ratione
                                    amet animi, voluptates, exercitationem quaerat temporibus alias? Quidem! Lorem ipsum
                                    dolor sit amet consectetur adipisicing elit. Hic dignissimos perferendis a facere.
                                    Error, libero. Exercitationem molestiae commodi laborum nihil, magnam mollitia ex
                                    dolorum quos. Nostrum tenetur magni sit modi?</p>
                                <div style="text-align: right; margin-bottom: 1rem;">
                                    <i style="font-size: xx-large;" class="fa-solid fa-share-nodes"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../Static/js/code.js"></script>
</body>

</html>